{% load static %}
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <title>학생 정보 관리 시스템</title>
        <link rel="stylesheet" href="/static/css/myapp.css" />
    </head>
    <body>
        <header class="header">학생 정보 관리 시스템</header>
        <main class="main-container">
            <div class="create-container">
                <h2>데이터 추가하기</h2>
                <form class="form-box" method="POST" action="/post/">
                    {% csrf_token %}
                    <table>
                        {{form}}
                    </table>
                    <button type="submit" class="submit-btn">추가하기</button>
                </form>
            </div>
        </main>
    </body>
</html>
