{% load static %}
<!DOCTYPE html>
<script>
    const message = "{{ message }}";

    if (message != "") {
        alert(message);
        window.location.href = "/";
    }
</script>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <title>Assignment 2</title>
        <link rel="stylesheet" href="/static/css/myapp.css" />
    </head>
    <body>
        <header class="header">Assignment 2</header>
        <main class="main-container">
            <h2>
                Students table
                <a href="/?target=students">
                    <button class="delete-btn" type="button">
                        + Add students records from csv
                    </button>
                </a>
            </h2>
            <table class="data-table">
                <tr class="table-grid students">
                    <td>student ID</td>
                    <td>name</td>
                    <td>score</td>
                    <td>county</td>
                </tr>
                {% for student in students %}
                <tr class="table-grid students">
                    <td>{{ student.studentID }}</td>
                    <td>{{ student.name }}</td>
                    <td>{{ student.score }}</td>
                    <td>{{ student.county }}</td>
                </tr>
                {% endfor %}
            </table>
            <h2>
                Professors table
                <a href="/?target=professors">
                    <button class="delete-btn" type="button">
                        + Add professors records from csv
                    </button>
                </a>
            </h2>
            <table class="data-table">
                <tr class="table-grid professors">
                    <td>faculty ID</td>
                    <td>name</td>
                    <td>age</td>
                    <td>county</td>
                </tr>
                {% for professor in professors %}
                <tr class="table-grid professors">
                    <td>{{ professor.facultyID }}</td>
                    <td>{{ professor.name }}</td>
                    <td>{{ professor.age }}</td>
                    <td>{{ professor.county }}</td>
                </tr>
                {% endfor %}
            </table>
            <h2>
                Counties table
                <a href="/?target=counties">
                    <button class="delete-btn" type="button">
                        + Add counties records from csv
                    </button>
                </a>
            </h2>
            <table class="data-table">
                <tr class="table-grid counties">
                    <td>county name</td>
                    <td>population</td>
                    <td>city</td>
                </tr>
                {% for county in counties %}
                <tr class="table-grid counties">
                    <td>{{ county.countyName }}</td>
                    <td>{{ county.population }}</td>
                    <td>{{ county.city }}</td>
                </tr>
                {% endfor %}
            </table>
            <h2>
                COVID table
                <a href="/?target=covid">
                    <button class="delete-btn" type="button">
                        + Add covid records from csv
                    </button>
                </a>
            </h2>
            <table class="data-table">
                <tr class="table-grid covids">
                    <td>patient ID</td>
                    <td>city</td>
                </tr>
                {% for covid in covids %}
                <tr class="table-grid covids">
                    <td>{{ covid.patientID }}</td>
                    <td>{{ covid.city }}</td>
                </tr>
                {% endfor %}
            </table>
            <h2>Query 1</h2>
            <table class="data-table">
                <tr class="table-grid query">
                    <td>county</td>
                    <td>average score</td>
                </tr>
                {% for query in query1 %}
                <tr class="table-grid query">
                    <td>{{ query.county }}</td>
                    <td>{{ query.avgScore }}</td>
                </tr>
                {% endfor %}
            </table>
        </main>
    </body>
</html>
